@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600;6..12,700;6..12,1000&display=swap');

:root {
  --primary-color: #2b2d42;
  --second-color: #8d99ae;
  --third-color: #edf2f4;
  --fourth-color: #ef233c;
  --fifth-color: #d80032;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about__title,
.projects__title,
.contact__title {
  font-size: 2rem;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
}
/** HEADER **/

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 1rem 2rem;
  width: 100vw;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  color: var(--primary-color);
  font-weight: 700;
}

.header__link--main {
  display: inline-block;
  opacity: 100;
  width: 12rem;
}

.header__link--sub {
  display: none;
  opacity: 0;
  position: relative;
  left: -12rem;
}

.header__content nav {
  display: none;
}

.header__list-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header__list-link {
  padding: 0.5rem 1.5rem;
}

.button__check {
  display: none;
}

.button__hamburger {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.button__hamburger div {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.header__content--sm-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 100;
  visibility: visible;
}

.header__list--sm-menu {
  padding: 1rem 1.5rem 1rem;
  border-top: solid 1px var(--third-color);
  text-align: right;
  background-color: white;
  font-weight: 600;
}

/** HOME **/

#home {
  padding: 2rem;
  margin-top: 3rem;
  background-image: radial-gradient(
      circle at 67% 83%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 1%,
      transparent 1%,
      transparent 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 80%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 27%,
      transparent 27%,
      transparent 63%,
      transparent 63%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 5%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 26%,
      transparent 26%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 11%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 35%,
      transparent 35%,
      transparent 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 11%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 21%,
      transparent 21%,
      transparent 81%,
      transparent 81%,
      transparent 100%
    ),
    radial-gradient(
      circle at 19% 61%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 20%,
      transparent 20%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 13% 77%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 63%,
      transparent 63%,
      transparent 72%,
      transparent 72%,
      transparent 100%
    ),
    radial-gradient(
      circle at 30% 93%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 33%,
      transparent 33%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(237, 242, 244), rgb(141, 153, 174));
}

.home__title {
  display: inline;
  font-size: 2.5rem;
  font-weight: 900;
  position: relative;
  text-align: center;
}

.home__title--main {
  opacity: 100;
}

.home__title--sub {
  opacity: 0;
  color: var(--fifth-color);
  position: absolute;
  left: 29.813rem;
}

.home__text {
  font-size: 1.2rem;
  display: inline;
}

.home__link,
.about__article-link,
.projects__article-link {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--third-color);
  background-color: var(--fourth-color);
  border-radius: 2rem;
  font-weight: 600;
  transition: 300ms ease-in-out;
}

.home__cards-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home__cards_up-container,
.home__cards_down-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.home__card {
  width: 5.5rem;
  height: 5.5rem;
  outline: none;
  border: none;
  background-color: var(--third-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 200ms ease-in-out;
}

.home__card--border_top_left {
  border-radius: 5.5rem 0.33rem 0.33rem 0.33rem;
}
.home__card--border_top_right {
  border-radius: 0.33rem 5.5rem 0.33rem 0.33rem;
}
.home__card--border_down_left {
  border-radius: 0.33rem 0.33rem 0.33rem 5.5rem;
}
.home__card--border_down_right {
  border-radius: 0.33rem 0.33rem 5.5rem 0.33rem;
}

.linkedin {
  margin: calc(100% - 2.8rem) 0 0 2.8rem;
  fill: #0e76a8;
}

.twitter {
  margin: calc(100% - 2.8rem) 0 0 0.8rem;
}

.github {
  margin: 0 0 calc(100% - 7rem) 2.8rem;
}

.gmail {
  margin: 0 0 calc(100% - 7rem) 0.8rem;
  fill: #f14336;
}

/** ABOUT **/

#about {
  background-color: var(--third-color);
  padding: 5rem 2rem 2rem;
}

.about__intro,
.about__article-text,
.projects__article-text {
  text-align: justify;
}

.about__article-container,
.about__article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__article {
  gap: 1.5rem;
}

.about__article-title,
.projects__article-title {
  font-size: 1.5rem;
}

.about__article-link,
.projects__article-link {
  align-self: center;
  width: fit-content;
  font-size: 1rem;
}

.about__article-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.about__article-tag {
  background-color: var(--second-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: var(--primary-color);
  font-weight: 100;
}

.bold {
  font-weight: 800;
}

/** PROJECTS **/

#projects {
  padding: 5rem 2rem 2rem;
  background: rgb(43, 45, 66);
  background: linear-gradient(
    174deg,
    rgba(43, 45, 66, 0.9108893557422969) 0%,
    rgba(141, 153, 174, 1) 10%,
    rgba(237, 242, 244, 1) 100%
  );
}

.projects__container,
.projects__article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact {
  padding: 5rem 2rem 2rem;
  background-color: var(--third-color);
}

footer {
  padding: 5rem 2rem 2rem;
  background-color: var(--primary-color);
  color: var(--third-color);
}

/** TRANSITIONS **/

.home__link:hover,
.about__article-link:hover {
  scale: 1.1;
  background-color: var(--fourth-color);
  color: white;
}

.header__link:hover,
.header__list-link:hover {
  color: var(--fourth-color);
}

.home__card--border_top_left:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0e76a8;
  .linkedin {
    fill: white;
  }
}

.home__card--border_top_right:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
  .twitter .black {
    fill: white;
  }
  .twitter .white {
    fill: black;
  }
}
.home__card--border_down_left:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
  .github {
    fill: white;
  }
}
.home__card--border_down_right:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #f14336;
  .gmail {
    fill: white;
  }
}

.cross {
  .button__hamburger-line1 {
    transform: translateY(0.6rem) rotate(45deg) scale(0.8);
  }
  .button__hamburger-line2 {
    transform: scale(0);
  }
  .button__hamburger-line3 {
    transform: translateY(-0.6rem) rotate(-45deg) scale(0.8);
  }
}

/** ANIMATIONS **/

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

/** MEDIAS QUERIES **/

@media screen and (min-width: 991.98px) {
  .header__content > nav {
    display: block;
  }

  .header__link--sub {
    display: inline;
  }

  .button__hamburger {
    display: none;
  }

  .home__title:hover {
    .home__title--main {
      animation: appear 300ms 1 reverse forwards;
    }
    .home__title--sub {
      animation: appear 300ms 1 normal forwards;
    }
  }

  .header__link:hover {
    .header__link--main {
      animation: appear 300ms 1 reverse forwards;
    }
    .header__link--sub {
      animation: appear 300ms 1 normal forwards;
    }
  }
}
